/* add root parameteres  */

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;

  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --primary-color-active: #0056b3;

  --secondary-color: #6c757d;
  --secondary-color-hover: #545b62;
  --secondary-color-active: #4e555b;

  --background-color: #f8f9fa;
  --background-color-hover: #e9ecef;
  --background-color-active: #dee2e6;
  --menu-background-color: var(--success);
  --menu-background-color-hover: #e9ecef;
  --menu-background-color-active: #dee2e6;

  --border-color: #000;
  --border-color-hover: #c1c9d0;
  --border-color-active: #c1c9d0;

  --text-color: #212529;
  --text-color-hover: #212529;
  --text-color-active: #212529;

  --link-color: #007bff;
  --link-color-hover: #0056b3;
  --link-color-active: #0056b3;

  --button-color: #007bff;
  --button-color-hover: #0056b3;
  --button-color-active: #0056b3;
  --button-background-color: lightgray;
  --button-background-color-hover: #1223df;
  --button-background-color-active: #dee2e6;

  --input-color: #495057;
  --input-color-hover: #495057;
  --input-color-active: #495057;

  --input-border-color: #ced4da;
  --input-border-color-hover: #ced4da;
  --input-border-color-active: #ced4da;

  --padding-small: 0.25rem 0.5rem;
  --padding-medium: 0.5rem 1rem;
  --padding-large: 0.75rem 1.5rem;

  --margins-small: 0.25rem;
  --margins-medium: 0.5rem;
  --margins-large: 1rem;

  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px;
  margin: 0;
  height: 100vh;
}

.header {
  background-color: var(--menu-background-color);
  color: var(--background-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 50px;
  z-index: 9999;
}

.header a {
  color: var(--background-color);
  text-transform: uppercase;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

/* make layout mobile responsive  */

/* Mobile Responsive */
@media (max-width: 767px) {
  .layout {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
  }

  .body {
    width: 100%;
    padding: 20px;
    display: block;
    margin: 10px;
  }

  .footer {
    display: none;
  }
}

/* FOOTER CSS  */

.footer {
  background-color: var(--menu-background-color);
  color: var(--background-color);
  padding: 10px;
  bottom: 0;
  width: 100%;
  bottom: 0;
  position: relative;
}

.footer-center {
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-4col {
  flex: 0 0 25%;
  max-width: 25%;
}

.block-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  font-size: 14px;
  line-height: 1.5;
}

ul.black {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #333;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.fa {
  margin-right: 10px;
}

.return-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.return-top:hover {
  background-color: #555;
}

/* END OF FOOTER */

/* OTHER ELEMENTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Default font sizes and weights for HTML headings */
h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 56px;
  font-weight: bold;
  color: red;
}

h3 {
  font-size: 48px;
  font-weight: bold;
}

h4 {
  font-size: 40px;
  font-weight: bold;
}

h5 {
  font-size: 36px;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}

/* Responsive font sizes and weights for headings on smaller screens */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
    font-weight: bold;
  }

  /* ... (other headings styles) ... */
}

/* Responsive font sizes and weights for headings on even smaller screens, like mobile devices */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  /* ... (other headings styles) ... */
}

/* Font styles for paragraphs, spans, and italics */
p {
  font-size: 16px;
  line-height: 1.5; /* Adjust line height for readability */
}

span {
  font-size: 14px;
  /* Additional styles specific to spans */
}

i {
  font-style: italic;
  /* Additional styles specific to italic text */
}

p {
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  height: 2.25rem;
  width: auto;
  padding: 10px;
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  margin: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  transition: border-color 0.3s ease;
  height: 30px;
  padding: 10px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--button-bg);
  color: var(--button-text);
  transition: background-color 0.3s ease;
}

button:focus {
  outline: none;
  border: var(--border-color);
}

button:disabled {
  cursor: not-allowed;
}

button:disabled:hover {
  background: var(--button-bg);
  color: var(--button-text);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  padding-left: var(--margins-large);
  width: 100%;
}

form h2 {
  margin-bottom: 20px;
}

form h3 {
  margin-bottom: 10px;
}

form p {
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  transition: border-color 0.3s ease;
  height: 40px;
}

form input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  transition: border-color 0.3s ease;
  height: 40px;
}

form input[type="date"] {
  width: 100%;
  height: auto;
  padding: 20px;
}

form input:focus {
  outline: none;
  border-color: var(--primary-color);
}

form input textarea select label {
  display: block;
  margin-bottom: 5px;
}

form textarea {
  width: 100%;
  padding: 10px;
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  transition: border-color 0.3s ease;
  height: 400px;
}

form textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  width: 100%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

form textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

form select {
  width: 100%;
  padding: 10px;
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  transition: border-color 0.3s ease;
  height: 40px;
}

form textarea select:focus {
  outline: none;
  border-color: var(--primary-color);
  width: 100%;
  margin: 10px;
}

form select:focus {
  outline: none;
  border-color: var(--primary-color);
}

form button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

form button:hover {
  background-color: var(--button-bg-hover);
}

form .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

form .subtitle {
  font-size: 1rem;
  margin-bottom: 10px;
}

form .bottom {
  display: flex;
  justify-content: space-between;
}

/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table thead th {
  background-color: #f5f5f5;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f0f0f0;
}

table .document-link {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
}

table .document-link:hover {
  text-decoration: underline;
}

table tr:hover {
  transition: background-color 0.3s ease;
}

table tr .document-link:nth-child(even) {
  background-color: #f9f9f9;
}

table a {
  text-decoration: none;
  cursor: pointer;
  color: #007bff;
}

table a:hover {
  text-decoration: underline;
  background-color: #28a745;
  color: #fff;
  transition: background-color 0.3s ease;
}

/* CSS RESET END */

/* DROP DOWN FOR THE NAV BAR */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  right: 0;
  gap: 10px;
  text-transform: capitalize;
  width: 100%;
  margin: 20px;
}

nav router-link {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}

.menu {
  display: flex;
  gap: 10px;
  margin-right: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* responsive menue  */

.dropdown-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .dropdown-toggle {
    display: block;
    margin-right: 30px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #54c442;
    padding: 10px;
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-menu li {
    margin-bottom: 5px;

  }

  .dropdown-menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: left;
  }

  .dropdown-menu li a:hover {
    background-color: #f5f5f5;
  }
}

/* END OF DROP DOWN */

/* SEARCH  */

.search-results {
  list-style: none;
  padding: 0;
  height: 80vh;
  overflow: scroll;
}

.search-result {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.file-button {
  background-color: #f1f1f1;
  border: none;
  padding: 5px;
  margin-right: 10px;
}

.result-details {
  flex: 1;
}

.result-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.result-description {
  margin: 0;
  color: #707070;
}

.result-meta {
  color: #707070;
  font-size: 14px;
}

.result-meta span {
  margin-right: 10px;
}

.search {
  position: relative;
  max-width: 900px;
  width: 100%;
  height: auto;
  margin: 10px auto;

  padding: 20px;
  border-radius: 20px;
  /* padding: var(--paddings-large); */
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.search-home {
  padding: 20px;
  margin: 20px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.microphone {
  position: absolute;
  top: 80%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.fa {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}

ul {
  list-style: none;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #f2f2f2;
}

/* END OF SEARCH */

/* Mobile Responsive */

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
  }

  .body {
    width: 100%;
    padding: 20px;
    display: block;
    margin: 10px;
  }

  .header {
    width: 100%;
    margin-bottom: 20px;
  }

  nav {
    width: 100%;
  }
  /* 
  .search {
    width: 100%;
    border-radius: 20px;
    height: 50px;
    margin: 10px 0;
  } */

  input[type="text"][type="search"] [type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
    height: 50px;
    margin: var(--margins-small);
  }
  input[type="text"][type="search"] [type="number"]:focus {
    outline: none;
    border: 2px solid #007bff;
  }

  table {
    display: none;
  }
  .document-list {
    display: block;
  }
}

.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px;
  width: 100%;
  height: 100vh;
}

.activities-sidepanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.activities-sidepanel ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.activities-sidepanel li {
  list-style: none;
  text-align: left;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.activities-sidepanel li:hover {
  background-color: #eaeaea;
  border: 1px solid #0056b3;
}

.activities-contentpanel {
  display: flex;
  flex: 3;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 20px;
  overflow-y: scroll;
}

.activities-contentpanel div {
  width: 100%;
}

.activities-contentpanel nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.activities-contentpanel button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.activities-contentpanel button:hover {
  background-color: #eaeaea;
}

.activities-contentpanel nav a {
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.activities-contentpanel nav a:hover {
  color: #555;
}

/* Activitity timeline  */

.timeline {
  display: flex;
  flex-direction: column;
}

.timeline-item {
  display: flex;
  margin-bottom: 20px;
}

.timeline-item-header {
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 10px;
}

.timeline-item-content {
  flex: 1;
  background-color: #f9f9f9;
  padding: 10px;
  border-left: 2px solid #ccc;
}

.timeline-item-title {
  font-weight: bold;
}

.timeline-item-description {
  margin-top: 5px;
}

/* END OF ACTIVITIES */

/* document list  */

.document-details {
  display: flex;
  gap: 16px; /* Adjust the gap value as needed */
  border: 5px solid #ccc;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.document {
  display: flex;
  flex-direction: column;
  flex-basis: 75%; /* Adjust the flex-basis value for the first column */
}

.trail {
  display: flex;
  flex-direction: column;
  flex-basis: 25%; /* Adjust the flex-basis value for the second column */
}

.document-list {
  display: none;
  width: 100%;
  /* height: 100%; */
  padding: 10px;
  margin-top: 20px;
}

.document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.document-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.document-link:hover {
  color: #888;
}

/* MODAL COMPONENT  */

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  height: 90%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  margin-top: 20px;
  border-radius: 10px;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.3s;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

/* Calender CSS  */

.calendar {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
}

.current-month {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  
}

.day-header {
  background-color: #f0f0f0;
  padding: 5px;
  font-weight: bold;
}

.calendar-row {
  border-bottom: 1px solid #ccc;
}

.calendar-cell {
  padding: 10px;
  position: relative;
}

.date {
  font-weight: bold;
}

.activity-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.activity {
  background-color: #007bff;
  color: white;
  padding: 3px;
  border-radius: 3px;
  margin: 2px 0;
}

/* make calender responsive */

@media (max-width: 768px) {
  .calendar {
    flex-direction: column;
  }

  .current-month {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .calendar-table {
    width: 100%;
  }

  .calendar-row {
    display: block;
  }

  .calendar-cell {
    flex-basis: 100%;
    padding: 5px;
    border-bottom: none;
  }

  .date {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .activity {
    margin-bottom: 3px;
  }
}

/* Trackers  */

.trackers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  /* padding: 20px; */
}

.trackers h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.trackers table {
  width: 100%;
  height: 80vh;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: auto;
  padding: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tracker-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.button:hover {
  background-color: var(--button-color-hover);
  color: var(--text-color-hover);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.header-buttons .button:first-child {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.header-buttons .button:first-child:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text-color-hover);
}

.header-buttons .button:first-child:focus {
  box-shadow: 0 0 0 2px --buttn-color;
}

.trackers h2:not(:first-child) {
  margin-top: 30px;
}

/* fancy dashboard */

.main-dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin: 5px;
  margin-top: 60px;
}

/* Add your styles for the dashboard, metric cards, and charts */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  margin: 0;
  /* margin-top: 50px; */

  /* Add more styling for the dashboard as needed */
}

.main-canvas {
  display: flex;
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

  /* Add more styling for the main canvas as needed */
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  flex: 1;
  /* Add more styling for the side panel as needed */
}

.metric-area {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow: scroll;
  flex: 3;
  margin: 50px;
  z-index: 999;

  /* Add more styling for the metric area as needed */
}

.metric-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 100%;
  background-color: #f6f6f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 100vh;
  overflow: scroll;
  flex: 5;
  padding-top: 100px;
}

.calender_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 100vh;
  overflow: scroll;
  flex: 2;
  border: 1px solid #ccc;
  /* margin-top: 50px; */
}

.metric-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  /* Add styling for the metric cards section */
}

.metric-card {
  padding: 40px;
  width: 80px;
  height: 100px;
  border: 5px solid #fff;

  border-radius: 10px;
  margin: 0 10px;
  margin-top: 20px;
  text-align: left;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  flex: 1;
}

.metric-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Styles for headings and paragraph inside the metric cards */
.metric-card h3 {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  padding: 10px;
}

.metric-card p {
  font-size: 32px;
  font-weight: bold;
  color: #555;
  padding: 10px;
}
.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  width: 100%;
  height: 80vh;
  overflow: scroll;

  /* Add styles for the charts section */
}

.dashboard-item {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Add styles for individual chart items */
}
/* make dshboard responsive  */

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    overflow: scroll;
  }

  .metric-area {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    overflow: scroll;
  }

  .side-panel {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    overflow: scroll;
    order: 3;
  }

  .metric-top {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    overflow: scroll;
    order: 1;
  }
  .calender-area {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    overflow: scroll;
    order: 2;
  }

  .calendar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: auto;
    overflow: scroll;
    order: 2;
    width: 100%;
    background-color: #fff;
  }
}

/* end of dashbogard */

/* Modal Button */

.add-new {
  background-color: var(--button-background-color);
  color: var(--text-color);
  border: 1px solid --button-color;
  float: left;
}

.add-new:hover {
  background-color: var(--button-background-color-hover);
  color: --button-color-hover;
  border: 1px solid --button-color-hover;
}

/* Document Index  */

.index-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: #20c997 solid 1px;
  overflow: scroll;
}

.content-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: #20c997 solid 1px;
  overflow: scroll;
}

.side-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #000;
  height: 100vh;
}
.content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #000;
  flex: 2;
  height: 100vh;
}

.content-area p {
  margin-bottom: 10px;
}

.content-area h2 {
  margin-bottom: 10px;
}

.content-area ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content-area li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.content-area li:hover {
  background-color: #f5f5f5;
}

.content-area h3 {
  margin-bottom: 10px;
}

.document-index {
  width: 100%;
}

.document-index h2 {
  margin-bottom: 10px;
  text-align: left;
}

.document-index h3 {
  margin-bottom: 10px;
  text-align: left;
}

.document-index p {
  margin-bottom: 10px;
  text-align: left;
}

.document-index ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.document-index li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
}

.document-index li:hover {
  background-color: #f5f5f5;
}

/* accordion  */

.accordion {
  width: 100%;
}

.accordion-item {
  border: 1px solid #ccc;
  margin: 5px;
}

.accordion-header {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.arrow-down::after {
  content: "▼";
}

.arrow-right::after {
  content: "►";
}

.accordion-content {
  padding: 10px;
  /* display: none; */
}

.accordion-content.show {
  display: block;
}

/* document seararch page */

.document-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.document-search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.document-search button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.document-search button:hover {
  background-color: #0056b3;
}

.document-search select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Motions Card  */

/* CSS for the list */
/* CSS for the Library-style Bill Tracker Section */
/* CSS for the Motions Tracker Styled Similar to Library Theme */
.motion-list {
  margin: 20px;
  padding: 0;
  background-color: #f6f6f8;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.motion-ul {
  list-style: none;
  padding: 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.motion-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.motion-details {
  display: flex;
  gap: 16px;
  flex-direction: column;
  flex-basis: 75%;
  margin-bottom: 15px;
}

.motion-details span {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.motion-subject {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 1.5;
}

.motion-proposer,
.motion-seconder,
.motion-date {
  font-weight: bold;
}

.adopted-button,
.adopt-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.adopted-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.adopted-button {
  background-color: #3498db;
  color: #fff;
}

.adopt-button {
  background-color: #27ae60;
  color: #fff;
}

/* Adjust the button popup and modal styles if necessary */
/* CustomButtonClass */
/* CustomIconClass */

.bill-ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  background-color: #f6f6f8;
}

.bill-ul li {
  margin-bottom: 10px;
  /* padding: 10px; */
  border-radius: 5px;
  background-color: #f6f6f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bill-item {
  background-color: #f6f6f6;
  margin-bottom: 20px;
  /* padding: 20px; */
  border: 5px solid #fff;
  border-radius: 8px;
}

.bill-details {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
  max-width: 600px;
  margin: 0 auto;
}

.bill-details a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
}

.bill-status {
  font-weight: bold;
  color: #27ae60;
}

.bill-title {
  font-size: 28px;
  margin: 10px 0;
  font-weight: bold;
  color: #2c3e50;
}

.bill-description {
  margin-bottom: 10px;
  color: #2c3e50;
  font-size: 16px;
  line-height: 1.5;
}

.bill-id,
.bill-date,
.bill-status,
.bill-maturity-date {
  display: block;
  margin-bottom: 5px;
  font-style: italic;
}

.view-details-link {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #2980b9;
}

.view-details-link:hover {
  background-color: #2980b9;
}

.bill-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Adjust the button popup and modal styles if necessary */
/* CustomButtonClass */
/* CustomIconClass */

/* CSS for the Petition Tracker Styled Similar to Library Theme limited to petition-ul */

.petition-ul {
  list-style: none;
  padding: 0;
  background-color: #f6f6f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.petition-ul .update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.petition-ul .petition-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.petition-ul .petition-item .petition-details {
  margin-bottom: 15px;
  text-align: left;
  line-height: 1.5;
}

.petition-subject {
  padding-bottom: 10px;
}

.petition-presenter {
  font-weight: bold;
}

.petition-petitioner {
  font-weight: bold;
  color: #3498db;
}

.petition-ul .petition-item .petition-details span {
  display: block;
  margin-bottom: 5px;
}

.petition-ul .petition-item .petition-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.petition-ul .petition-item .form-popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.petition-ul .petition-item form {
  display: flex;
  flex-direction: column;
}

.petition-ul .petition-item label {
  margin-bottom: 5px;
}

.petition-ul .petition-item textarea {
  margin-bottom: 10px;
}

.petition-ul .petition-item button {
  padding: 8px 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.petition-ul .petition-item button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .motion-list li {
    flex: 100%;
  }
}

/* Bills list  */

/* src/assets/css/style.css */

.trackers-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trackers-list li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.trackers-list li p {
  margin: 5px 0;
}

.trackers-list li p span {
  font-weight: bold;
}

.trackers-list li nav {
  margin-top: 10px;
}

.trackers-list li .update {
  margin-top: 10px;
}

.bill-activity {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3367d6;
}

/* Buttton classes */

.update-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6fc161;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* accordion  */

.accordion {
  margin-top: 20px;
}
.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.accordion-title {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  font-size: 18px;

}
.accordion-content {
  margin-top: 10px;
  padding-left: 20px;
  text-align: left;
  
}

/* Hieraachy CSS  */

.hierarchy {
  margin-top: 20px;
}

.hierarchy ul {
  margin-bottom: 10px;
}

.hierarchy li {
  text-align: left;
  margin-bottom: 5px;
}

.hierarchy li:last-child {
  margin-bottom: 0;
}

.hierarchy p{
  margin-bottom: 5px;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}

.hierarchy-title {
  font-weight: bold;
}

.hierarchy-description {
  margin-top: 5px;
}
